<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="NetworkShareUser" value="myUser"/>
		<add key="NetworkSharePassword" value="myPassword"/>
		<add key="NetworkShareDomain" value ="myDomain"/>
		<add key="NetworkShareUncPath" value="\\Server\Share"/> 
		<add key="isLocalFileSystem" value ="false"/>
		<add key="ReportOrderPreference" value="FileSizeDesc"/>
		<add key="HashSizeLimitInKB" value="512"/>
	</appSettings>
<connectionStrings>  
  <add name="Name" connectionString="data source=SQLServerDS;initial catalog=CAT;persist security info=False;user id=sa;password=SecretPassword; workstation id=localhost;packet size=4096"/>
</connectionStrings> 
</configuration>
