
FileUtil\.Core/obj/Debug/

FileUtil\.Data/obj/Debug/

FileUtil\.Service/obj/Debug/

*.nupkg

FileUtil\.Models/obj/Debug/

FileUtil\.Core\.Nunit/obj/Debug/

FileUtil\.Core\.Nunit/bin/Debug/

FileUtil\.Core/bin/Debug/

FileUtil\.Data/bin/Debug/

FileUtil\.Models/bin/Debug/

FileUtil\.Service/bin/Debug/

/packages/*
packages/*
.vs/
packages
